form{background:pink;width:382px;margin:auto;margin:20px 0px 0px 450px;padding:20px;border-radius:15px;}
p{font-weight:bolder;font-size:10px;}
h2{text-align:center;color:pink;}
body{background:black;}
